<div class="container">
  <div class="row">
    <!--conteudo principal-->
    <div class="card col-12 col-md-10 col-lg-9 mx-auto shadow">
      <div class="text-center text-md-start">
        <h1 class="fw-bold mt-4">Requisições para meu Departamento</h1>
      </div>

      <div class="d-grid d-md-block gap-2 mt-4">
        <a
          role="button"
          class="btn btn-outline-primary me-md-1 col-md-2"
          routerLink="/painel">
          <i class="pi pi-sign-out me-2"></i>Voltar
        </a>
      </div>
  </div>
</div>
